@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    position: relative;
}

.showCase{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway',sans-serif !important;
}

.leftShowcase{
    flex:0.6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 5rem;
    position: relative;
    overflow: hidden;
}
.topWrapper{
    margin: auto 0;
}
.leftShowcase h1{
    font-size: calc(60px + 0.2vw);
    font-family: 'Raleway',sans-serif !important;
    font-weight: 600;
}

.leftShowcase p{
    max-width: 500px;
    margin: 2rem 0;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
}

.leftShowcase .btn-primary{
    background-color: #d87093 !important;
    border: none;
    width: 40%;
    padding: 1rem;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 0.2rem;
    font-size: calc(14px + 0.2vw);
}

.leftShowcase .btn-primary:active{
    border: none !important;
    box-shadow: none !important;
}
.leftShowcase .btn-primary:focus{
    border: none !important;
    box-shadow: none !important;
}


.socials{
    width: fit-content;
    padding: 1rem;
    display: flex;
}
.socials i{
    font-size: calc(20px + 0.2vw);
    margin: 1rem;
    border: 2px solid palevioletred;
    color: palevioletred;
    border-radius: 50%;
    padding: 0.5rem;
}

.leftShowcase .shapeAccent{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    background: rgb(255,230,239);
    background: linear-gradient(234deg, rgba(255,230,239,1) 1%, rgba(216,112,147,1) 100%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rightShowcase{
    flex: 1;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.rightImg{
    width: 80%;
    width: 80%;
    object-fit: cover;
}

.rightShowcase .shapeAccent{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: palevioletred;
    clip-path: ellipse(46% 27% at 51% 56%);
    transform: rotate(-30deg);
}